<nav class="navbar public-navbar" th:fragment="public-navbar">
    <div class="navbar-container">
        <div class="logo">        <a href="/" class="logo d-flex align-items-center me-auto">
            <img src="/assets/img/logo.png" alt="CARS Logo" style="height: 40px; margin-right: 10px;">
            <h1 class="sitename">CARS</h1>
        </a>

        </div>
        <ul class="nav-links">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#" id="trackProgressLink"><i class="fas fa-find"></i> Track Progress</a></li>
            <li><a class="btn-login" href="/login">Login</a></li>
        </ul>
    </div>
</nav>


